anthropic
itemadapter
langchain
mistralai
nlpcloud
numpy
openai
openpyxl
pandas
pint
protobuf
python-decouple
ratelimit
Requests
retrying
scikit_learn
scrapy
sentencepiece
tenacity
tiktoken
tqdm
websockets
google-generativeai
pdfservices-sdk==4.0.0
matplotlib
